extends template/header
block content
  include include/header
  .ed-container.mujer
    .ed-item
      h2.mujer-item__title.text-center Diseños exclusivos
    .ed-item.tablet-60.mujer-item.mujer-galery
      .mujer-item__galery.shadow
        .mujer-item__image
          img(src="img/cartera-1.png", alt="cartera")
        .mujer-item__image
          img(src="img/cartera-2.png", alt="cartera")
        .mujer-item__image
          img(src="img/cartera-3.png", alt="cartera")
        .mujer-item__image
          img(src="img/cartera-4.png", alt="cartera")
        .mujer-item__image
          img(src="img/cartera-2.png", alt="cartera")
        .mujer-item__image
          img(src="img/cartera-1.png", alt="cartera")
    .ed-item.tablet-40.mujer-item
        .mujer-item__carousel.shadow
          .mujer-item__carousel--content
            img(src="img/cartera-1.png", alt="")