extends template/basis
block content
  .ed-container.date
    .ed-item.tablet-30.date-detail
      ul.date-list
        li.date-list__item
          a(href="#!").date-list__link billeteras
        li.date-list__item
          a(href="#!").date-list__link botas y botines
        li.date-list__item
          a(href="#!").date-list__link canguros
        li.date-list__item
          a(href="#!").date-list__link carpetas
        li.date-list__item
          a(href="#!").date-list__link casacas
        li.date-list__item
          a(href="#!").date-list__link chalecos
        li.date-list__item
          a(href="#!").date-list__link guantes
        li.date-list__item
          a(href="#!").date-list__link maletines
        li.date-list__item
          a(href="#!").date-list__link monederos
        li.date-list__item
          a(href="#!").date-list__link correas
        li.date-list__item
          a(href="#!").date-list__link gorros
        li.date-list__item
          a(href="#!").date-list__link neceseres
        li.date-list__item
          a(href="#!").date-list__link alforjas
        li.date-list__item
          a(href="#!").date-list__link porta celulares
        li.date-list__item
          a(href="#!").date-list__link porta tarjeteros
        li.date-list__item
          a(href="#!").date-list__link porta lentes
        li.date-list__item
          a(href="#!").date-list__link porta llaves
    .ed-item.tablet-70.date-galery
      .date-galery__item
        .content-slider
          .slider.single-item
            img(src="img/cartera-2.png" alt="esta es la iamgen del modal")
            img(src="img/cartera-3.png" alt="esta es la iamgen del modal")
            img(src="img/cartera-4.png" alt="esta es la iamgen del modal")
        .date-galery__option
          a(href="producto.html")
            h3.date-galery__title Producto
      .date-galery__item.slider
        .content-slider
          .slider.single-item
            img(src="img/cartera-2.png" alt="esta es la iamgen del modal")
            img(src="img/cartera-3.png" alt="esta es la iamgen del modal")
            img(src="img/cartera-4.png" alt="esta es la iamgen del modal")
        .date-galery__option
          a(href="producto.html")
            h3.date-galery__title Producto
      .date-galery__item.slider
        .content-slider
          .slider.single-item
            img(src="img/cartera-2.png" alt="esta es la iamgen del modal")
            img(src="img/cartera-3.png" alt="esta es la iamgen del modal")
            img(src="img/cartera-4.png" alt="esta es la iamgen del modal")
        .date-galery__option
          a(href="producto.html")
            h3.date-galery__title Producto
      .date-galery__item.slider
        .content-slider
          .slider.single-item
            img(src="img/cartera-2.png" alt="esta es la iamgen del modal")
            img(src="img/cartera-3.png" alt="esta es la iamgen del modal")
            img(src="img/cartera-4.png" alt="esta es la iamgen del modal")
        .date-galery__option
          a(href="producto.html")
            h3.date-galery__title Producto
      .date-galery__item.slider
        .content-slider
          .slider.single-item
            img(src="img/cartera-2.png" alt="esta es la iamgen del modal")
            img(src="img/cartera-3.png" alt="esta es la iamgen del modal")
            img(src="img/cartera-4.png" alt="esta es la iamgen del modal")
        .date-galery__option
          a(href="producto.html")
            h3.date-galery__title Producto
      .date-galery__item.slider
        .content-slider
          .slider.single-item
            img(src="img/cartera-2.png" alt="esta es la iamgen del modal")
            img(src="img/cartera-3.png" alt="esta es la iamgen del modal")
            img(src="img/cartera-4.png" alt="esta es la iamgen del modal")
        .date-galery__option
          a(href="producto.html")
            h3.date-galery__title Producto
      .date-galery__item.slider
        .content-slider
          .slider.single-item
            img(src="img/cartera-2.png" alt="esta es la iamgen del modal")
            img(src="img/cartera-3.png" alt="esta es la iamgen del modal")
            img(src="img/cartera-4.png" alt="esta es la iamgen del modal")
        .date-galery__option
          a(href="producto.html")
            h3.date-galery__title Producto
      .date-galery__item.slider
        .content-slider
          .slider.single-item
            img(src="img/cartera-2.png" alt="esta es la iamgen del modal")
            img(src="img/cartera-3.png" alt="esta es la iamgen del modal")
            img(src="img/cartera-4.png" alt="esta es la iamgen del modal")
        .date-galery__option
          a(href="producto.html")
            h3.date-galery__title Producto
      .date-galery__item.slider
        .content-slider
          .slider.single-item
            img(src="img/cartera-2.png" alt="esta es la iamgen del modal")
            img(src="img/cartera-3.png" alt="esta es la iamgen del modal")
            img(src="img/cartera-4.png" alt="esta es la iamgen del modal")
        .date-galery__option
          a(href="producto.html")
            h3.date-galery__title Producto
      .date-galery__item.slider
        .content-slider
          .slider.single-item
            img(src="img/cartera-2.png" alt="esta es la iamgen del modal")
            img(src="img/cartera-3.png" alt="esta es la iamgen del modal")
            img(src="img/cartera-4.png" alt="esta es la iamgen del modal")
        .date-galery__option
          a(href="producto.html")
            h3.date-galery__title Producto
      .date-galery__item.slider
        .content-slider
          .slider.single-item
            img(src="img/cartera-2.png" alt="esta es la iamgen del modal")
            img(src="img/cartera-3.png" alt="esta es la iamgen del modal")
            img(src="img/cartera-4.png" alt="esta es la iamgen del modal")
        .date-galery__option
          a(href="producto.html")
            h3.date-galery__title Producto
      .date-galery__item.slider
        .content-slider
          .slider.single-item
            img(src="img/cartera-2.png" alt="esta es la iamgen del modal")
            img(src="img/cartera-3.png" alt="esta es la iamgen del modal")
            img(src="img/cartera-4.png" alt="esta es la iamgen del modal")
        .date-galery__option
          a(href="producto.html")
            h3.date-galery__title Producto
      