extends template/basis
block content
  .local
    .ed-container
      .ed-item.tablet-50
        h2.local-title.text-center  Nuestras Tiendas
        ol.local-address
          li.local-address__item local 1: Jr.Lampa 288- cercado de lima
            ul
              li Telf: 987-6541
          li.local-address__item local 2: Jr.Junin 409- cercado de lima
            ul
              li Telf: 987-6541
      .ed-item.tablet-50
        .local-map
          <iframe id="map" class="shadow" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.824787839084!2d-77.03635118441045!3d-12.05557344939434!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c8b6f92a9203%3A0xb1c3fe6462f75313!2sJr.+Lampa%2C+Lima+15001%2C+Per%C3%BA!5e0!3m2!1ses!2ses!4v1457740725544" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
