extends template/header
block content
  .nosotros
    include include/header
    .ed-container.nosotros-content
      .ed-item.tablet-50.main-center.nosotros-content__image
        .circle
          .circle-box
            img(src="img/cartera-2.png", alt="esta es la imagen de prueba")
      .ed-item.tablet-50.main-center.nosotros-content__description.cross-center
        h2.nosotros-content__title.text-center Nuestros inicios
        .nosotros-content__copy.text-center
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi doloribus sunt odit voluptatem odio sapiente deserunt et quaerat repellat facilis, alias mollitia asperiores eum, libero animi! Voluptatem dolores, explicabo consectetur.
    .ed-container.nosotros-content
      .ed-item.tablet-50.main-center.nosotros-content__image
        .circle
          .circle-box
            img(src="img/cartera-2.png", alt="esta es la imagen de prueba")
      .ed-item.tablet-50.main-center.nosotros-content__description.cross-center
        h2.nosotros-content__title.text-center Experiencia
        .nosotros-content__copy.text-center 
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio facilis fuga dignissimos tempora earum, excepturi ea adipisci pariatur eligendi accusamus illum, amet, voluptates quod, possimus blanditiis dicta. Dolore, voluptas, excepturi!
    .ed-container.nosotros-content
      .ed-item.tablet-50.main-center.nosotros-content__image
        .circle
          .circle-box
            img(src="img/cartera-2.png", alt="esta es la imagen de prueba")
      .ed-item.tablet-50.main-center.nosotros-content__description.cross-center
        h2.nosotros-content__title.text-center Actualmente
        .nosotros-content__copy.text-center 
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem esse, maiores enim. Odio rem ad eveniet neque repudiandae aliquid tempora excepturi ex voluptates, molestias labore, a recusandae deleniti asperiores quas.
    .ed-container.nosotros-content
      .ed-item.tablet-50.main-center.nosotros-content__image
        .circle
          .circle-box
            img(src="img/cartera-2.png", alt="esta es la imagen de prueba")
      .ed-item.tablet-50.main-center.nosotros-content__description.cross-center
        h2.nosotros-content__title.text-center Valores
        .nosotros-content__copy.text-center
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam minima accusantium recusandae ab eos fugiat nemo eaque soluta molestiae, eum et, odit vitae dolorum nam voluptate voluptatibus error perspiciatis asperiores.