extends template/producto
block content
  .producto
    .ed-container
      .ed-item
        h3.producto-title Mujer/billeteras/producto
      .ed-item.tablet-40.producto-image
        .slider.single-item
            .modal#image1
              img(src="img/cartera-2.png" alt="esta es la iamgen del modal" data-big="cartera-2L.jpg" data-overlay="fondo.png")
            .modal#image3
              img(src="img/cartera-3.png" alt="esta es la iamgen del modal" data-big="cartera-3.jpg" data-overlay="fondo.png")
            .modal#image4
              img(src="img/cartera-4.png" alt="esta es la iamgen del modal" data-big="cartera-4.jpg" data-overlay="fondo.png")
      .ed-item.tablet-60.producto-description
        h2.producto-description__title producto
        .producto-description__color
          h3.producto-description__color__title colores disponibles
        .producto-description__butons
          a(href="#!").producto-description__like.icon-facebook me gusta
          a(href="#!").producto-description__share.icon-facebook comparte
          a(href="#!").producto-description__correo.icon-correo e-mail
          a(href="#!").producto-description__regresar regresar
          a(href="#!").producto-description__index encuentramos aqui
  .producto-content
    .ed-container.producto-spam
      .ed-item.producto-spam__title
        h3 Encuentra mas productos
      .ed-item.producto-spam__images
        .slider.multiple-items
          a(href="index.html").modal
            img(src="img/cartera-2.png" alt="esta es la iamgen del modal")
          a(href="index.html").modal
            img(src="img/cartera-3.png" alt="esta es la iamgen del modal")
          a(href="index.html").modal
            img(src="img/cartera-4.png" alt="esta es la iamgen del modal")
          a(href="index.html").modal
            img(src="img/cartera-1.png" alt="esta es la iamgen del modal")
          a(href="index.html").modal
            img(src="img/cartera-2.png" alt="esta es la iamgen del modal")
          a(href="index.html").modal
            img(src="img/cartera-2.png" alt="esta es la iamgen del modal")
          a(href="index.html").modal
            img(src="img/cartera-2.png" alt="esta es la iamgen del modal")
          a(href="index.html").modal
            img(src="img/cartera-2.png" alt="esta es la iamgen del modal")
          a(href="index.html").modal
            img(src="img/cartera-2.png" alt="esta es la iamgen del modal")