extends template/basis
block content
  .servicios
    .servicios-content
      .ed-container.servicios-box
        .ed-item.tablet-50.servicios-box__description
          h2.servicios-box__title.text-center Hola Mundo
          .servicios-box__copy 
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus explicabo ipsum omnis fuga ipsa error, suscipit, autem obcaecati tenetur. Veniam laboriosam expedita debitis inventore quos eius, vero consequuntur perspiciatis quidem.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus explicabo ipsum omnis fuga ipsa error, suscipit, autem obcaecati tenetur. Veniam laboriosam expedita debitis inventore quos eius, vero consequuntur perspiciatis quidem.
        .ed-item.tablet-50.servicios-box__image.main-center
          img(src="img/background.jpg", alt="hola mundo")
    .servicios-content
      .ed-container.servicios-box
        .ed-item.tablet-50.servicios-box__description
          h2.servicios-box__title.text-center Hola Mundo
          .servicios-box__copy 
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum similique odio numquam, quaerat totam itaque fugiat alias a reprehenderit repellendus, hic blanditiis fugit beatae aliquid explicabo adipisci illum. At, voluptates!| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus explicabo ipsum omnis fuga ipsa error, suscipit, autem obcaecati tenetur. Veniam laboriosam expedita debitis inventore quos eius, vero consequuntur perspiciatis quidem.
        .ed-item.tablet-50.servicios-box__image
          .slider.slider-for
            .modal
              img(src="img/cartera-2.png" alt="esta es la iamgen del modal")
            .modal
              img(src="img/cartera-3.png" alt="esta es la iamgen del modal")
            .modal
              img(src="img/cartera-4.png" alt="esta es la iamgen del modal")
            .modal
              img(src="img/cartera-1.png" alt="esta es la iamgen del modal")
            .modal
              img(src="img/cartera-2.png" alt="esta es la iamgen del modal")
          .slider.slider-nav
            .modal
              img(src="img/cartera-2.png" alt="esta es la iamgen del modal")
            .modal
              img(src="img/cartera-3.png" alt="esta es la iamgen del modal")
            .modal
              img(src="img/cartera-4.png" alt="esta es la iamgen del modal")
            .modal
              img(src="img/cartera-1.png" alt="esta es la iamgen del modal")
            .modal
              img(src="img/cartera-2.png" alt="esta es la iamgen del modal")
    .servicios-content
      .ed-container.servicios-box
        .ed-item.tablet-50.servicios-box__description
          h2.servicios-box__title.text-center Hola Mundo
          .servicios-box__copy 
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi iusto maiores, modi tempora culpa quidem nostrum ut a, debitis quas rerum veritatis sint esse perferendis maxime ipsa velit magnam consequuntur.| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus explicabo ipsum omnis fuga ipsa error, suscipit, autem obcaecati tenetur. Veniam laboriosam expedita debitis inventore quos eius, vero consequuntur perspiciatis quidem.
        .ed-item.tablet-50.servicios-box__image.main-center
          img(src="img/noticia.jpg", alt="hola mundo")