footer.main-footer
  .ed-container
    .ed-item.tablet-25.border-left
      h4.main-subtitle UNIPIEL
      ul.main-footer__menu
        li.main-footer__item
         a(href="index.html").blanco.subrayado Home
        li.main-footer__item
         a(href="nosotros.html").blanco.subrayado Nosotros
        li.main-footer__item
         a(href="hombre.html").blanco.subrayado Hombre
        li.main-footer__item
         a(href="mujer.html").blanco.subrayado Mujer
        li.main-footer__item
         a(href="servicios.html").blanco.subrayado Servicios
        li.main-footer__item
         a(href="local.html").blanco.subrayado Locales
        li.main-footer__item
         a(href="contacto.html").blanco.subrayado Contacto
    .ed-item.tablet-25.border-left
      h4.main-subtitle CONTÁCTANOS
      .main-footer__contact.main-center.tablet-main-start
        a(href="contacto.html").item.blanco
          i.icon-telefono
          span (01)987 654 321
      .main-footer__contact.main-center.tablet-main-start
        a(href="contacto.html").item.blanco
          i.icon-correo
          span
            .mail usuario@unipiel.com.pe
            .mail contacto@unipiel.com.pe
      .main-footer__contact.text-center
        h5.main-footer__subtitle SÍGUENOS
        a(href="http://www.facebook.com" target="_blank").icon-facebook.social.blanco.main-footer__social
        a(href="http://www.youtube.com" target="_blank").icon-youtube.social.blanco.main-footer__social
        a(href="http://www.instagram.com" target="_blank").icon-instagram.social.blanco.main-footer__social
    .ed-item.tablet-25.border-left.main-center.cross-center.main-footer__enlace
      a(href="servicios.html").main-footer__link Cuidado de productos de cuero
      a(href="index.html").main-footer__link Novedades
    .ed-item.tablet-25.border-left
      a(href="index.html")
        img(src="img/logo.png").main-footer__logo
  .footer-copy
    .ed-container
      .ed-item.main-footer__copy
        p Todos los derechos reservados por unipiel 2016
        p Desarrollo por 
          a(href="http://www.digitallaboratory.pe" target="_blank").blanco.subrayado Digital Laboratory