header.main-header
  .slider.single-item
    .box
      img(src="img/image-1.jpg" alt="esta es la imagen del slider")
    .box
      img(src="img/image-2.jpg" alt="esta es la imagen del slider")
    .box
      img(src="img/image-3.jpg" alt="esta es la imagen del slider")
    .box
      img(src="img/image-4.jpg" alt="esta es la imagen del slider")