nav.main-nav
  .main-nav__slide.desde-tablet
    .ed-container
      .ed-item.movil-35.cross-center
        a(href="#!").icon-facebook.social
        a(href="#!").icon-youtube.social
        a(href="#!").icon-instagram.social
      .ed-item.movil-65.movil-main-end.cross-center
        input(type="search" placeholder="buscar").main-nav__search
  .main-menu
    .ed-container
      .ed-item.base-80.tablet-20.tablet-main-start
        a(href="index.html").main-menu__logo.cross-center
          img(src="img/logo-nav.png")
        .icon-menu.hasta-tablet#main-button
      .ed-item.base-80.main-end
        ul.ed-menu.tablet-horizontal.main-menu__content
          li.main-menu__item
            a(href="index.html").main-menu__link Home
          li.main-menu__item
            a(href="nosotros.html").main-menu__link Nosotros
          li.main-menu__item
            a(href="hombre.html").main-menu__link Hombre
            ul.submenu-list
              li.submenu-list__item
                a(href="hombre-date.html").submenu-list__link billeteras
              li.submenu-list__item
                a(href="hombre-date.html").submenu-list__link botas y botines
              li.submenu-list__item
                a(href="hombre-date.html").submenu-list__link canguros
              li.submenu-list__item
                a(href="hombre-date.html").submenu-list__link carpetas
              li.submenu-list__item
                a(href="hombre-date.html").submenu-list__link casacas
              li.submenu-list__item
                a(href="hombre-date.html").submenu-list__link chalecos
              li.submenu-list__item
                a(href="hombre-date.html").submenu-list__link guantes
              li.submenu-list__item
                a(href="hombre-date.html").submenu-list__link maletines
              li.submenu-list__item
                a(href="hombre-date.html").submenu-list__link monederos
              li.submenu-list__item
                a(href="hombre-date.html").submenu-list__link correas
              li.submenu-list__item
                a(href="hombre-date.html").submenu-list__link gorros
              li.submenu-list__item
                a(href="hombre-date.html").submenu-list__link neceseres
              li.submenu-list__item
                a(href="hombre-date.html").submenu-list__link alforjas
              li.submenu-list__item
                a(href="hombre-date.html").submenu-list__link porta celulares
              li.submenu-list__item
                a(href="hombre-date.html").submenu-list__link porta tarjeteros
              li.submenu-list__item
                a(href="hombre-date.html").submenu-list__link porta lentes
              li.submenu-list__item
                a(href="hombre-date.html").submenu-list__link porta llaves
          li.main-menu__item
            a(href="mujer.html").main-menu__link Mujer
            ul.submenu-list
              li.submenu-list__item
                a(href="mujer-date.html").submenu-list__link billeteras
              li.submenu-list__item
                a(href="mujer-date.html").submenu-list__link botas y botines
              li.submenu-list__item
                a(href="mujer-date.html").submenu-list__link canguros
              li.submenu-list__item
                a(href="mujer-date.html").submenu-list__link carpetas
              li.submenu-list__item
                a(href="mujer-date.html").submenu-list__link casacas
              li.submenu-list__item
                a(href="mujer-date.html").submenu-list__link chalecos
              li.submenu-list__item
                a(href="mujer-date.html").submenu-list__link guantes
              li.submenu-list__item
                a(href="mujer-date.html").submenu-list__link maletines
              li.submenu-list__item
                a(href="mujer-date.html").submenu-list__link monederos
              li.submenu-list__item
                a(href="mujer-date.html").submenu-list__link correas
              li.submenu-list__item
                a(href="mujer-date.html").submenu-list__link gorros
              li.submenu-list__item
                a(href="mujer-date.html").submenu-list__link neceseres
              li.submenu-list__item
                a(href="mujer-date.html").submenu-list__link alforjas
              li.submenu-list__item
                a(href="mujer-date.html").submenu-list__link porta celulares
              li.submenu-list__item
                a(href="mujer-date.html").submenu-list__link porta tarjeteros
              li.submenu-list__item
                a(href="mujer-date.html").submenu-list__link porta lentes
              li.submenu-list__item
                a(href="mujer-date.html").submenu-list__link porta llaves
          li.main-menu__item
            a(href="servicios.html").main-menu__link Servicios
          li.main-menu__item
            a(href="local.html").main-menu__link Locales
          li.main-menu__item
            a(href="contacto.html").main-menu__link Contacto