doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/styles.css")
    link(rel="stylesheet", href="css/slick.css")
    link(href="https://file.myfontastic.com/caRvxmKyEAEVdBdxw8r87j/icons.css" rel="stylesheet")
    title Unipiel | ternura sobre tu piel
  body
    include ../include/menu
    block content
    include ../include/footer
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="js/jquery.slides.js")
    script(src="js/slick.js")
    script(src="js/scripts.js")
    script(src="js/header.js")