.main{
  background-image:url('../img/background-texture2.jpg');
  background-size: cover;
  background-position:center center;
  color:white;
  padding: 1em 0;
  text-align:center;
  &-title{ 
    @include hasta(tablet){
      padding:1em 0;
      order: -1;
    }
    &__title{
      color:white;
      margin:auto;
    }
  }
  &-link{
    @include button(white,$negro)
    margin: 0 auto;
    transition:all .3s;
    &:hover{
      background: $negro;
      color: white;
      box-shadow:0 0 0 2px;
    }
    @include hasta(tablet){
      margin-bottom: 2em;
    }
  }
  &-description{
    padding :1em 0;
  }
}